.offers-list {
    display: flex;
    .slick-track {
        display: flex;
    }
    li.slick-slide {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        height: auto;
        img {
            height: 100%;
            height: 303px;
            object-fit: cover;
            @media (max-width: 1900px) {
                height: 239px;
            }
            @media (max-width: 1365px) {
                height: 175px;
            }
            @media (max-width: 767px) {
                height: 196px;
            }
        }
        @media (max-width: 1900px) {
            // height: 370px;
        }
        @media (max-width: 1365px) {
            margin-right: 25px;
            // height: 275px;
        }
        @media (max-width: 1023px) {
            margin-right: 14px;
        }
        @media (max-width: 767px) {
            // height: 296px;
        }
    }
    i.br {
        display: block;
    }
    .slick-list {
        margin-right: -30px;
        @media (max-width: 1365px) {
            margin-right: -25px;
        }
        @media (max-width: 1023px) {
            margin-right: -14px;
        }
    }
    .slick-next {
        width: 44px;
        height: 44px;
        background-image: url("../images/arrow-next.svg");
        background-size: cover;
        background-repeat: no-repeat;
        top: calc(100% + 55px);
        right: 0;
        z-index: 10;
        @media (max-width: 1900px) {
            width: 30px;
            height: 30px;
        }
        @media (max-width: 1365px) {
            width: 25px;
            height: 25px;
            top: calc(100% + 32px);
        }
    }
    .slick-prev {
        width: 44px;
        height: 44px;
        background-image: url("../images/arrow-prev.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: calc(100% + 55px);
        left: 0;
        z-index: 10;
        @media (max-width: 1900px) {
            width: 30px;
            height: 30px;
        }
        @media (max-width: 1365px) {
            width: 25px;
            height: 25px;
            top: calc(100% + 32px);
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        bottom: -70px;
        li {
            margin-right: 3px;
            margin: 0;
        }
        button {
            background-image: url("../images/dots.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 16px;
            height: 16px;
            &::before {
                display: none;
            }
            @media (max-width: 1900px) {
                width: 12px;
                height: 12px;
            }
        }
        .slick-active {
            button {
                background-image: url("../images/dots-active.svg");
            }
        }
        @media (max-width: 1365px) {
            bottom: -45px;
        }
    }
}

.offers-list__content {
    background: #feca40;
    // height: 131px;
    padding: 30px 35px;
    font-weight: 400;
    font-size: 21px;
    color: #fff;
    height: 100%;
    @media (max-width: 1900px) {
        // height: 131px;
        padding: 20px;
    }
    @media (max-width: 1365px) {
        padding: 20px;
        // height: 100px;
        font-size: 14px;
    }
}
