.rent {
    padding-top: 75px;
    margin-bottom: 75px;
    .container {
        display: flex;
        flex-direction: column;
    }
    @media(max-width: 1365px) {
        padding-top: 65px;
        margin-bottom: 65px;
    }
    @media(max-width: 1023px) {
        margin-bottom: 25px;
        padding-top: 50px;
    }
}